%nav.top-bar{'data-topbar' => true}
  %ul.title-area
    %li.name
      %h1= link_to 'My Mileage Report', root_path
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menu
  %section.top-bar-section
    %ul.right
      - if current_user
        %li.has-dropdown
          %a{href: '#'} Pages
          %ul.dropdown
            %li
              %a{href: locations_path} Locations
            %li
              %a{href: routes_path} Routes
            %li
              %a{href: trips_path} Trips
      %li
        - if current_user
          =link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          = link_to 'Login', new_user_session_path
          or
          = link_to 'Sign up', new_user_registration_path


